<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (detail()) {
      <div>
        <h2 data-cy="detailDetailsHeading"><span jhiTranslate="webApp.detail.detail.title">Detail</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ detail()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="webApp.detail.discord">Discord</span></dt>
          <dd>
            <span>{{ detail()!.discord }}</span>
          </dd>
          <dt><span jhiTranslate="webApp.detail.total">Total</span></dt>
          <dd>
            <span>{{ detail()!.total }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/detail', detail()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
