<div class="footer">
  <div class="card jh-card">
    <div class="card-body text-end">
      <a class="card-link" href="https://github.com/camenduru">GitHub</a>
      <a class="card-link" href="https://github.com/camenduru/web">Privacy</a>
      <a class="card-link" href="https://github.com/camenduru/web">TOS</a>
      <a class="card-link" href="https://github.com/camenduru/web">Status</a>
      <a class="card-link" href="https://www.youtube.com/@camenduru">YouTube</a>
      <a class="card-link" href="https://twitter.com/camenduru">X</a>
      <a class="card-link" href="https://discord.gg/k5BwmmvJJU">Discord</a>
      <span>&nbsp;&nbsp;&nbsp;</span>
    </div>
  </div>
</div>
