<div>
  <h2 id="page-heading" data-cy="JobHeading">
    <span jhiTranslate="webApp.job.home.title">Jobs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="webApp.job.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-job"
        [routerLink]="['/job/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="webApp.job.home.createLabel">Create a new Job</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (jobs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="webApp.job.home.notFound">No Jobs found</span>
    </div>
  }

  @if (jobs && jobs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="date">
              <div class="d-flex">
                <span jhiTranslate="webApp.job.date">Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="webApp.job.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="source">
              <div class="d-flex">
                <span jhiTranslate="webApp.job.source">Source</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sourceID">
              <div class="d-flex">
                <span jhiTranslate="webApp.job.sourceID">Source ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sourceChannel">
              <div class="d-flex">
                <span jhiTranslate="webApp.job.sourceChannel">Source Channel</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sourceUsername">
              <div class="d-flex">
                <span jhiTranslate="webApp.job.sourceUsername">Source Username</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="command">
              <div class="d-flex">
                <span jhiTranslate="webApp.job.command">Command</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="webApp.job.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span jhiTranslate="webApp.job.amount">Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="total">
              <div class="d-flex">
                <span jhiTranslate="webApp.job.total">Total</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="webApp.job.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (job of jobs; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/job', job.id, 'view']">{{ job.id }}</a>
              </td>
              <td>{{ job.date | formatMediumDatetime }}</td>
              <td [jhiTranslate]="'webApp.JobStatus.' + (job.status ?? 'null')">
                {{
                  {
                    null: '',
                    POSITIVE: 'POSITIVE',
                    NEGATIVE: 'NEGATIVE',
                    WORKING: 'WORKING',
                    DONE: 'DONE',
                    FAILED: 'FAILED',
                    CANCELED: 'CANCELED'
                  }[job.status ?? 'null']
                }}
              </td>
              <td [jhiTranslate]="'webApp.JobSource.' + (job.source ?? 'null')">
                {{
                  {
                    null: '',
                    WEB: 'WEB',
                    IOS: 'IOS',
                    ANDROID: 'ANDROID',
                    DISCORD: 'DISCORD',
                    PAYPAL: 'PAYPAL',
                    PATREON: 'PATREON',
                    OTHER: 'OTHER'
                  }[job.source ?? 'null']
                }}
              </td>
              <td>{{ job.sourceID }}</td>
              <td>{{ job.sourceChannel }}</td>
              <td>{{ job.sourceUsername }}</td>
              <td>{{ job.command }}</td>
              <td>{{ job.type }}</td>
              <td>{{ job.amount }}</td>
              <td>{{ job.total }}</td>
              <td>
                {{ job.user?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/job', job.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/job', job.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(job)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (jobs && jobs.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
