<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-detail-heading" data-cy="DetailCreateUpdateHeading" jhiTranslate="webApp.detail.home.createOrEditLabel">
        Create or edit a Detail
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="webApp.detail.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_discord" jhiTranslate="webApp.detail.discord">Discord</label>
          <input type="text" class="form-control" name="discord" id="field_discord" data-cy="discord" formControlName="discord" />
          @if (editForm.get('discord')!.invalid && (editForm.get('discord')!.dirty || editForm.get('discord')!.touched)) {
            <div>
              @if (editForm.get('discord')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sourceId" jhiTranslate="webApp.detail.sourceId">Source Id</label>
          <input type="text" class="form-control" name="sourceId" id="field_sourceId" data-cy="sourceId" formControlName="sourceId" />
          @if (editForm.get('sourceId')!.invalid && (editForm.get('sourceId')!.dirty || editForm.get('sourceId')!.touched)) {
            <div>
              @if (editForm.get('sourceId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sourceChannel" jhiTranslate="webApp.detail.sourceChannel">Source Channel</label>
          <input
            type="text"
            class="form-control"
            name="sourceChannel"
            id="field_sourceChannel"
            data-cy="sourceChannel"
            formControlName="sourceChannel"
          />
          @if (editForm.get('sourceChannel')!.invalid && (editForm.get('sourceChannel')!.dirty || editForm.get('sourceChannel')!.touched)) {
            <div>
              @if (editForm.get('sourceChannel')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="mb-3">
          <label class="form-label" for="field_total" jhiTranslate="webApp.detail.total">Total</label>
          <input type="text" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
          @if (editForm.get('total')!.invalid && (editForm.get('total')!.dirty || editForm.get('total')!.touched)) {
            <div>
              @if (editForm.get('total')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="mb-3">
          <label class="form-label" for="field_login" jhiTranslate="webApp.detail.login">Login</label>
          <input type="text" class="form-control" name="login" id="field_login" data-cy="login" formControlName="login" />
          @if (editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)) {
            <div>
              @if (editForm.get('login')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="mb-3">
          <label class="form-label" for="field_membership" jhiTranslate="webApp.detail.membership">Membership</label>
          <select class="form-control" name="membership" formControlName="membership" id="field_membership" data-cy="membership">
            <option [ngValue]="null">{{ 'webApp.Membership.null' | translate }}</option>
            @for (membership of membershipValues; track $index) {
              <option [value]="membership">{{ 'webApp.Membership.' + membership | translate }}</option>
            }
          </select>
          @if (editForm.get('membership')!.invalid && (editForm.get('membership')!.dirty || editForm.get('membership')!.touched)) {
            <div>
              @if (editForm.get('membership')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="webApp.detail.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
