<div class="row">
  @if (account() !== null) {
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <sf-form [schema]="mySchema" [model]="myModel" [actions]="myActions"></sf-form>
      <form name="editForm" role="form" novalidate [formGroup]="editForm">
        <button class="btn btn-secondary me-2 float-end" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon><span *jhiHasAnyAuthority="'ROLE_ADMIN'">⛔</span> Refresh
        </button>
        <select
          (change)="changeSchema($event)"
          class="me-2 float-end"
          style="color: #adb5bd; background-color: #36363b; border: var(--bs-border-width) solid #555; height: 37px"
          formControlName="type"
          [(ngModel)]="default_type_type"
        >
          <option *ngFor="let type of types" [value]="type.type">
            {{ type.title }}
          </option>
        </select>
      </form>
      <br /><br /><br />
    </div>
  }
  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <div>
      @if (account() !== null) {
        <div>
          <jhi-alert-error></jhi-alert-error>
          @if (jobs?.length === 0) {
            <div class="alert alert-warning" id="no-result">
              <span jhiTranslate="webApp.job.home.notFound">No Jobs found</span>
            </div>
          }
          @if (jobs && jobs.length > 0) {
            <div
              NgxMasonryGrid
              [horizontal]="horizontal"
              [percentage]="percentage"
              [isEqualSize]="isEqualSize"
              [isConstantSize]="isConstantSize"
              [gap]="gap"
              [resizeDebounce]="resizeDebounce"
              [maxResizeDebounce]="maxResizeDebounce"
              [autoResize]="autoResize"
              [useFit]="useFit"
              [useTransform]="useTransform"
              [renderOnPropertyChange]="renderOnPropertyChange"
              [preserveUIOnDestroy]="preserveUIOnDestroy"
              [defaultDirection]="defaultDirection"
              [outlineLength]="outlineLength"
              [outlineSize]="outlineSize"
              [useRoundedSize]="useRoundedSize"
              [useResizeObserver]="useResizeObserver"
              [observeChildren]="observeChildren"
              [column]="column"
              [columnSize]="columnSize"
              [columnSizeRatio]="columnSizeRatio"
              [align]="align"
              [contentAlign]="contentAlign"
              [columnCalculationThreshold]="columnCalculationThreshold"
              [maxStretchColumnSize]="maxStretchColumnSize"
            >
              <img class="item rounded" #gridItem *ngFor="let job of jobs; trackBy: trackId" [src]="job.result" width="445" />
            </div>
          }
          @if (jobs && jobs.length > 0) {
            <br />
            <div>
              <div class="d-flex justify-content-center">
                <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
              </div>
              <div class="d-flex justify-content-center">
                <ngb-pagination
                  [collectionSize]="totalItems"
                  [page]="page"
                  [pageSize]="itemsPerPage"
                  [maxSize]="5"
                  [rotate]="true"
                  [boundaryLinks]="true"
                  (pageChange)="navigateToPage($event)"
                ></ngb-pagination>
              </div>
            </div>
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.register.noaccount">You don&apos;t have an account yet?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
        </div>
      }
    </div>
  </div>
</div>
