<div class="card jh-card">
  <div class="row">
    @if (account() !== null) {
      @if (account()?.authorities?.includes('ROLE_ADMIN')) {
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div id="notify"></div>
          <jhi-alert-error></jhi-alert-error>
          @if (jobs?.length === 0) {
            <div class="alert alert-warning" id="no-result">
              <span jhiTranslate="webApp.job.home.notFound">No Jobs found</span>
            </div>
          }
          @if (jobs && jobs.length > 0) {
            <div
              NgxJustifiedGrid
              [horizontal]="horizontal"
              [percentage]="percentage"
              [isEqualSize]="isEqualSize"
              [isConstantSize]="isConstantSize"
              [gap]="gap"
              [resizeDebounce]="resizeDebounce"
              [maxResizeDebounce]="maxResizeDebounce"
              [autoResize]="autoResize"
              [useFit]="useFit"
              [useTransform]="useTransform"
              [renderOnPropertyChange]="renderOnPropertyChange"
              [preserveUIOnDestroy]="preserveUIOnDestroy"
              [defaultDirection]="defaultDirection"
              [outlineLength]="outlineLength"
              [outlineSize]="outlineSize"
              [useRoundedSize]="useRoundedSize"
              [useResizeObserver]="useResizeObserver"
              [observeChildren]="observeChildren"
              [align]="align"
              [columnRange]="[6, 6]"
              [rowRange]="rowRange"
              [sizeRange]="sizeRange"
              [displayedRow]="displayedRow"
              [isCroppedSize]="isCroppedSize"
            >
              <ng-container *ngFor="let job of jobs; trackBy: trackId">
                <ng-container *ngIf="job.result && job.result.includes('.png')">
                  <img class="item rounded" [src]="job.result" width="445" />
                </ng-container>
                <ng-container *ngIf="job.result && job.result.includes('.mp4')">
                  <video width="445" height="445" controls>
                    <source class="item rounded" [src]="job.result" type="video/mp4" />
                  </video>
                </ng-container>
              </ng-container>
            </div>
            <br />
            <div>
              <div class="d-flex justify-content-center">
                <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
              </div>
              <div class="d-flex justify-content-center">
                <ngb-pagination
                  [collectionSize]="totalItems"
                  [page]="page"
                  [pageSize]="itemsPerPage"
                  [maxSize]="5"
                  [rotate]="true"
                  [boundaryLinks]="true"
                  (pageChange)="navigateToPage($event)"
                ></ngb-pagination>
              </div>
            </div>
          }
        </div>
      } @else {
        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
          <div id="aboutDiv" class="alert alert-dismissible alert-primary">
            <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="aboutDivRemove()"></button>
            <span class="text-warning">Tost</span> is a free, non-profit,
            <a class="text-info" href="https://github.com/camenduru/web">open-source</a> service that serves inference for the latest AI
            papers using the <a class="text-info" href="https://github.com/camenduru/non-profit-gpu-cluster">Non Profit GPU Cluster</a>.
            <span class="text-warning">Tost</span>'s simple job pool architecture allows anyone to connect their home GPUs to the
            <span class="text-warning">Tost</span> Server. <br /><br />
            <span class="text-warning">Tost</span> does not store any inference data; all data expires within 12 hours. However,
            <span class="text-warning">Tost</span> offers the option to
            <a class="text-info" href="https://www.youtube.com/watch?v=dtMStkmWKJY">send data to your Discord channel</a>.
            <span class="text-warning">Tost</span>'s budget is supported by companies and individual sponsors. <br /><br />
            Please consider sponsoring us through:
            <a class="text-success" href="https://github.com/sponsors/camenduru">GitHub Sponsors</a> |
            <a class="text-success" href="https://www.patreon.com/camenduru">Patreon</a>
            <br />
            Please Follow us for updates on: <a class="text-info" href="https://github.com/camenduru">GitHub</a> |
            <a class="text-info" href="https://twitter.com/camenduru">Twitter</a> |
            <a class="text-info" href="https://discord.gg/k5BwmmvJJU">Discord</a>
            <br /><br />
            <div>
              <input type="text" [(ngModel)]="redeemCode" placeholder="Tost Wallet Code" />
              <button (click)="onRedeem()">Redeem</button> {{ responseText }}
            </div>
          </div>
          <form class="d-flex" name="editForm" role="form" novalidate [formGroup]="editForm">
            <select
              (change)="changeSchema($event)"
              style="
                color: #adb5bd;
                background-color: #36363b;
                border: var(--bs-border-width) solid #555;
                height: 40px;
                width: 2000px;
                font-size: 18px;
              "
              formControlName="type"
              [(ngModel)]="default_type_type"
            >
              <option *ngFor="let type of types" [value]="type.type">
                {{ type.title }}
              </option>
            </select>
          </form>
          <br />
          <sf-form [schema]="activeSchema" [model]="activeModel" [actions]="activeActions"></sf-form>
          <form name="editForm" role="form" novalidate [formGroup]="editForm">
            <button class="btn btn-secondary me-2 float-end" (click)="load()" [disabled]="isLoading">
              <fa-icon icon="sync" [spin]="isLoading"></fa-icon> Refresh
            </button>
          </form>
          <br /><br /><br />
        </div>
        <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
          <div id="notify"></div>
          <jhi-alert-error></jhi-alert-error>
          @if (jobs?.length === 0) {
            <div class="alert alert-warning" id="no-result">
              <span jhiTranslate="webApp.job.home.notFound">No Jobs found</span>
            </div>
          }
          @if (jobs && jobs.length > 0) {
            <div
              NgxJustifiedGrid
              [horizontal]="horizontal"
              [percentage]="percentage"
              [isEqualSize]="isEqualSize"
              [isConstantSize]="isConstantSize"
              [gap]="gap"
              [resizeDebounce]="resizeDebounce"
              [maxResizeDebounce]="maxResizeDebounce"
              [autoResize]="autoResize"
              [useFit]="useFit"
              [useTransform]="useTransform"
              [renderOnPropertyChange]="renderOnPropertyChange"
              [preserveUIOnDestroy]="preserveUIOnDestroy"
              [defaultDirection]="defaultDirection"
              [outlineLength]="outlineLength"
              [outlineSize]="outlineSize"
              [useRoundedSize]="useRoundedSize"
              [useResizeObserver]="useResizeObserver"
              [observeChildren]="observeChildren"
              [align]="align"
              [columnRange]="columnRange"
              [rowRange]="rowRange"
              [sizeRange]="sizeRange"
              [displayedRow]="displayedRow"
              [isCroppedSize]="isCroppedSize"
            >
              <ng-container *ngFor="let job of jobs; trackBy: trackId">
                <ng-container *ngIf="job.result && job.result.includes(','); else resultNotArray">
                  <ng-container *ngFor="let link of job.result.slice(1, -1).trim().split(',')">
                    <ng-container *ngIf="link.includes('.png')">
                      <img
                        class="item rounded"
                        src="{{ link.slice(2, -1) }}"
                        onclick="window.open(this.src)"
                        style="cursor: pointer"
                        width="445"
                      />
                    </ng-container>

                    <ng-container *ngIf="link.includes('.mp4')">
                      <video width="445" height="445" controls>
                        <source class="item rounded" src="{{ link.slice(1, -1) }}" type="video/mp4" />
                      </video>
                    </ng-container>

                    <ng-container *ngIf="link.includes('.obj')">
                      <img
                        class="item rounded"
                        src="https://fakeimg.pl/512x512/282828/eae0d0/?text=[OBJ]#.png"
                        (click)="openWindow(link.slice(2, -1))"
                        style="cursor: pointer"
                        width="445"
                      />
                    </ng-container>

                    <ng-container *ngIf="link.includes('.mtl')">
                      <img
                        class="item rounded"
                        src="https://fakeimg.pl/512x512/282828/eae0d0/?text=[MTL]#.png"
                        (click)="openWindow(link.slice(2, -1))"
                        style="cursor: pointer"
                        width="445"
                      />
                    </ng-container>
                  </ng-container>
                </ng-container>
                <ng-template #resultNotArray>
                  <ng-container *ngIf="job.result && job.result.includes('.png')">
                    <img class="item rounded" [src]="job.result" onclick="window.open(this.src)" style="cursor: pointer" width="445" />
                  </ng-container>
                  <ng-container *ngIf="job.result && job.result.includes('.mp4')">
                    <video width="445" height="445" controls>
                      <source class="item rounded" [src]="job.result" type="video/mp4" />
                    </video>
                  </ng-container>
                </ng-template>
              </ng-container>
            </div>
            <br />
            <div>
              <div class="d-flex justify-content-center">
                <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
              </div>
              <div class="d-flex justify-content-center">
                <ngb-pagination
                  [collectionSize]="totalItems"
                  [page]="page"
                  [pageSize]="itemsPerPage"
                  [maxSize]="5"
                  [rotate]="true"
                  [boundaryLinks]="true"
                  (pageChange)="navigateToPage($event)"
                ></ngb-pagination>
              </div>
            </div>
          }
        </div>
      }
    } @else {
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.register.noaccount">You don&apos;t have an account yet?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
        </div>
      </div>
    }
  </div>
</div>
